* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
  }
*::-webkit-scrollbar{
    display: none;
}

  body{
      height: 100vh;
      width: 100vw;
      background-color: rgb(203, 203, 231);
      display: flex;
      justify-content: center;
      align-items: center;
      .center{
      

        width: 450px;
        min-height: 500px;
        background-color: white;
        padding: 25px;
        box-shadow: 0 0 10px rgb(138, 138, 194);
        border: none;
        border-radius: 15px;
        .selected_user{
            border-bottom: 0.5px solid rgb(221, 220, 220);
padding-bottom: 15px;
            .back_other{
                display: flex;
                align-items: center;
               
                .name_img{
                    display: flex;
                    align-items: center;
                   margin-left: 10px;

                    .user_img{
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        margin-right: 10px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                    .name_active{
                    .active_current_user{
                        display: flex;
                        align-items: center;
                        .green_dot{
                            height: 6px;
                            width: 6px;
                            border-radius: 50%;
                            background-color: rgb(5, 198, 5);
                        }
                        p{
                            color: rgb(5, 198, 5);
                            font-size: smaller;
                            margin-left: 5px;
                        }
                    }
                    }
                }
            }
        }
        .chat{
            height: 350px;
            overflow-y: scroll;
            overflow-x: hidden;
            position: relative;
        
            .no_msg_yet{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: lighter;
            font-size: x-large;
            color: grey;
            }
            .sender_chat{
                display: flex;
                align-items: center;
                margin: 15px 0;
                .sender_img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .chat_text{
                    padding:  8px;
                    background-color: rgb(200, 199, 199);
                    width: fit-content;
                    max-width: 80%;
                    height: fit-content;
                    margin: 0 0 0 10px;
                    border-radius: 10px;
                    border-bottom-left-radius: 0;
                    p{
                        font-weight: lighter;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        overflow-wrap: break-word;

                    }
                }
            }
            .receiver_chat{
                display: flex;
                align-items: center;
                justify-content: end;
                margin: 15px 0;

                .receiver_img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .chat_text{
                    padding: 8px ;
                    background-color: rgb(50, 49, 49);
                    color: white;
                    width: fit-content;
                    max-width: 80%;
                    height: fit-content;
                    margin: 0 10px 0 0;
                  border-radius: 10px;
                  border-bottom-right-radius: 0;

                    p{
                        font-weight: lighter;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        overflow-wrap: break-word;

                    }
                }   
            }
            
        }
        .send_msg{
      
            .input_btn{
                form{
                display: flex;
               padding-top: 25px;
                .text{
                    width: 100%;
                    border: 0.5px solid rgb(218, 217, 217);
                    padding: 12px 12px ;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                .text:focus{
                    outline: none;
                }
                .sendBtn{
background-color: black;
color: white;
padding: 8px ;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
cursor: pointer;
                 } }
            }
        }
      }
  }