* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(203, 203, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    .center {
        width: 450px;
        height: 500px;
        background-color: white;
        padding: 25px;
        padding-bottom: 0;
        box-shadow: 0 0 10px rgb(138, 138, 194);
        border: none;
        border-radius: 15px;
        overflow-y: scroll;
        overflow-x: hidden;
        h2 {
            padding: 0 0 10px 0;
            border-bottom: 0.5px solid rgb(221, 220, 220);
            margin-bottom: 10px;
        }
        .error {
            width: 100%;
            display: none;
            height: fit-content;
            padding: 10px;
            margin-bottom: 10px;
            background-color: rgb(251, 158, 158);
            border: 1.5px solid red;
            color: black;
            button {
                float: right;

                cursor: pointer;
                background-color: transparent;
                border: none;
                img {
                    width: 10px;
                }
            }
            p {
                font-size: 16px;
                font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            }
        }
        .fisrt_last_name {
            display: flex;
            
            width: 100%;
            div {
                width: 50%;
                h3 {
                    margin: 5px 0;
                    font-family: 'Nunito', sans-serif;
                    .required_field_esterik{
                        color: red;
                    }
                }
                input {
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid rgb(221, 220, 220);
                    font-family: 'Nunito', sans-serif;
                }
            }
        }
        .email_address,
        .password,
        .Mobile_number {
            margin: 15px 0;
            h3 {
                font-family: 'Nunito', sans-serif;
                margin: 5px 0;
                .required_field_esterik{
                    color: red;
                }
            }
            input {
                width: 100%;
                padding: 10px 10px;
                border-radius: 5px;
                border: 1px solid rgb(221, 220, 220);
                font-family: 'Nunito', sans-serif;
            }
        }
        .submit_btn {
            position: sticky;
            bottom: 0;
            background-color: white;
            padding: 0 0 4px 0;
            input {
                width: 100%;
                padding: 10px 0;
                background-color: black;
                color: white;
            }
        }
        .select_image {
            margin: 15px 0;
            h3{
                .required_field_esterik{
                    color: red;
                }
            }
            a {
                text-decoration: none;
                button {
                    width: 100%;
                    padding: 10px 0;
                    background-color: transparent;
                    color: black;
                    border: 2px solid black;
                    font-size: 16px;
                    border-radius: 5px;
                }
            }
        }
        .image_grid {
            height: 300px;
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 20px 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            grid-gap: 20px 0;
            .avatar {
                width: 100px;
                height: 120px;
                position: relative;
                border: 0.5px solid rgb(224, 223, 223);
            
                input {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    z-index: 10;
                    opacity: 0;
    
                }
                img {
                    padding: 30px 20px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        input[type="submit"] {
            background-color: black;
            color: white;
            width: 100%;
            padding: 10px 0;
            border-radius: 5px;
            font-size: 17px;
        }
        p {
            font-family: "Raleway", sans-serif;

            margin: 15px 0;
            a {
                color: red;
                text-decoration: none;
            }
        }
    }
}



@media screen and (max-width:600px) {
    body{
        height: 100vh;
        width: 100vw;
        background-color: white;
        .center{
            padding-top: 50px;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 0;
            box-shadow: none;
            .first_page{
            
            .fisrt_last_name{
                display: block;
                width: 100%;
                div{
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }}
            }
        }
    }
}